@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --grey: #3d354a;
  --pineapple: #c9b203;
  --light-pineapple: #ddce9d;
  --cream: #fcecdd;
  --light-grey: #b6a8cb;
}
body {
  background-color: var(--pineapple);
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  margin: 0 auto 100px;
  overflow-x: hidden;
  max-width: 100%;
  color: var(--cream);
  font: 1.5em;
}
header {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  background: var(--grey);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 100;
  margin-bottom: 50px;
}

.logo {
  font-weight: bold;
  font-family: "Work Sans", Sans-Serif;
  font-size: 2em;
  background-color: var(--pineapple);
  color: var(--grey);
  padding: 0 6px;
  border-radius: 3px 15px 15px 3px;
}
.hamburger {
  display: none;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--pineapple);
  padding: 10px 25px;
  border-radius: 50px;
}
.mode:hover,
.nav-bar ul li a:hover {
  background-color: var(--pineapple);
  color: var(--grey);
}
.nav-bar.active {
  height: 230px;
}
.nav-bar.active ul {
  opacity: 1;
}
.mode {
  font-size: 20px;
  background-color: var(--light-pineapple);
  color: var(--grey);
  padding: 10px 25px;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
}
.container {
  width: 95vw;
  padding: 20px 0;
  margin: 30px auto;
}
#hero_section {
  padding-top: 100px;
}
.hero {
  display: grid;
  grid-template-columns: 1fr, 0.5fr, 3fr;
}
.pre,
.first_name,
.last_name {
  font-family: "Work Sans", Sans-Serif;
  font-size: clamp(1.5em, 12vw, 6rem);
  color: var(--cream);
  justify-self: flex-start;
  align-self: center;
}
.pre {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.first_name {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}
.last_name {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  border-bottom: solid var(--grey);
}

.message,
.greeting {
  background-color: var(--grey);
  margin: 0 10px;
  font-weight: bolder;
  color: var(--cream);
  border-radius: 13px;
  padding: 7px;
  /* font-size: clamp(1.5em, 3vw, 2.5rem); */
  font-size: clamp(1em, 1.5vw, 2rem);
  justify-self: flex-end;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}
.message {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  justify-self: flex-end;
}
.greeting {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

.light-mode {
  background-color: var(--light-pineapple);
}
.light-mode header {
  background-color: var(--light-grey);
}
.light-mode .mode {
  background-color: var(--grey);
  color: var(--pineapple);
}
.light-mode .nav-bar ul li a {
  color: var(--grey);
}
.light-mode .mode:hover,
.light-mode .nav-bar ul li a:hover,
.light-mode .logo,
.light-mode .pre,
.light-mode .first_name,
.light-mode .last_name {
  background-color: var(--light-pineapple);
  color: var(--grey);
}
.light-mode .message,
.light-mode .fac,
.light-mode .good,
.light-mode .greeting {
  background-color: var(--light-grey);
  color: var(--grey);
}
.light-mode .last_name {
  border-bottom: 3px solid var(--light-grey);
}
.light-mode .me-active,
.light-mode .about-me_btn-active {
  background-color: var(--light-grey);
  color: var(--grey);
}
.light-mode .about-me_btn:hover {
  background-color: var(--light-grey);
}
/* light mode ends */
#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slides {
  position: relative;
}

.jw_image {
  height: 300px;
  width: 350px;
  max-width: 90vw;
  border: 3px solid var(--grey);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.slide {
  display: none;
}
.slide--selected {
  display: block;
}
.dots {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.dot {
  height: 12px;
  width: 12px;
  background: #f7d9d981;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.dot--selected {
  background: white;
  transform: scale(1.1);
}
.upload_img {
  margin-top: 15px;
  width: fit-content;
}
.play-pause {
  display: flex;
  width: 70vw;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
.btn_play_pause {
  height: 35px;
  width: 35px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 127, 80, 0.128);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: var(--pineapple);
}
.circle {
  background-color: var(--cream);
  color: var(--cream);
  padding: 10px;
  margin: 10px;
  border-radius: 30%;
  border: 0;
  cursor: pointer;
}
/* about me section */
.about {
  max-width: 90vw;
  min-height: 16em;
  margin: 2em auto 0;
  color: var(--cream);
}
.text-me {
  padding: 20px;
}
.about-me_btns {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 0;
}
.about-me_btn {
  min-height: 2em;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: var(--grey);
  color: var(--cream);
  transition: background-color 0.25s;
  /* border: solid 1px var(--grey); */
}
.about-me_btn:hover {
  background-color: var(--pineapple);
  transition: background-color 0.25s;
  color: var(--grey);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.about-me_btn-active {
  background-color: var(--pineapple);
  color: var(--grey);
  pointer-events: none;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.me {
  display: none;
  padding: 1em;
  text-align: start;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.me-active {
  display: block;
  background-color: var(--light-pineapple);
  color: var(--grey);
}

h1 {
  color: var(--grey);
  text-align: center;
  padding: 15px;
  font-size: 2em;
  font-weight: bolder;
}
h2 {
  color: var(--grey);
  text-align: center;
  padding: 5px;
}

/* slider */

.london-images {
  width: 90vw;
  min-height: 16em;
  margin: 2em auto;
  color: var(--grey);
  display: grid;
  grid-template-columns: 1fr;
}
#description {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.img1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  opacity: 1;
  width: 320px;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border: 3px solid var(--grey);
  border-radius: 15px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
  margin: 2em auto;
}
.img2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  opacity: 0;
  width: 320px;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border: 3px solid var(--grey);
  border-radius: 15px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
  margin: 2em auto;
}
.slide-div {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
  justify-self: center;
}
.slider {
  appearance: none;
  margin: auto;
  width: 350px;
  height: 25px;
  background: var(--grey);
  outline: none;
  border-radius: 10px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  padding: 2px;
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: var(--light-pineapple);
  cursor: pointer;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 80vw;
    margin: auto;
  }

  .jw_image {
    height: 400px;
    width: 700px;
  }
  .message {
    grid-column: 2 / span 2;
    justify-self: center;
  }
  .greeting {
    min-width: 120px;
  }
  .about {
    max-width: 70vw;
    min-height: 16em;
    margin: 2em auto 0;
    color: var(--cream);
  }
  .text-me {
    padding: 30px;
  }
}

@media only screen and (max-width: 1320px) {
  .header {
    pad: 0 50px;
  }
}
@media only screen and (max-width: 1110px) {
  .header {
    pad: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--pineapple);
    margin: 6px 0;
  }
  .nav-bar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    /* height: 250px; */
    background: var(--grey);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .nav-bar ul {
    opacity: 0;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }

  .light-mode .nav-bar {
    background: var(--light-grey);
  }
  .light-mode .hamburger .line {
    background: var(--grey);
  }
}
