@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}
:root {
  --grey: #393e46;
}
body {
  /* background-color: #b56576; */
  background-color: #393e46;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}
header {
  width: 100vw;
  height: 60px;
  display: flex;
  background-color: #e9647820;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px;
}
.hero {
  width: 95vw;
  min-height: 15vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
}
.logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 3em;
  background-color: #9b6a6c;
  padding: 0 6px;
  border-radius: 0 25px 25px 0;
}
.haburger {
  display: none;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  font-size: 20px;
  color: #e96479;
  padding: 10px 25px;
  border-radius: 50px;
}
.nav-bar ul li a:hover {
  background-color: #e96479;
  color: #393e46;
}
.mode {
  font-size: 20px;
  background-color: #e9647820;
  color: #e96479;
  padding: 10px;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
}
.first_name {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  font-family: "Dancing Script", cursive;
  font-size: clamp(2em, 23vw, 10rem);
  /* color: #a89898e2; */
  color: #9b6a6c;
}
.last_name {
  font-family: "Dancing Script", cursive;
  font-size: clamp(2em, 23vw, 10rem);
  grid-column: 1 / span 1;
  border-bottom: 3px solid #e96479;
  grid-row: 2 / span 1;
  justify-self: center;
  align-self: flex-start;
  color: #9b6a6c;
  /* color: #f2e9e4; */
}
.title {
  background-color: #e96479;
  margin-left: 5px;
  border-radius: 3px 3px 80px 3px;
  /* background-color: #7db9b6; */
  padding: 15px;
  font-size: clamp(1.5em, 3vw, 3rem);
  justify-self: flex-start;
  align-self: center;
  font-weight: lighter;

  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  /* color: #e96479; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title:hover {
}
@media only screen and (min-width: 768px) {
  h1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }
  p {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    z-index: 5;
  }
}
